.container {
  padding: 4rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 38rem;
  height: 40rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.register__title {
  font-size: 2.4rem;
  color: #222831;
  margin-bottom: 2rem;
}
.register__license {
  color: #8d95a2;
  font-size: 1.2rem;
}
.form {
  width: 100%;
}
.form__group {
  height: 6.6rem;
  text-align: left;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}
.form__input {
  padding: 0.5rem 1rem;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #222831;
}
.form__input:focus {
  outline: none;
}
.form__label {
  font-size: 1.4rem;
}
.form__input_danger {
  border-bottom: 2px solid #b50800;
}
.form__label_danger {
  font-size: 1.2rem;
  color: #b50800;
}
