<div class="container">
  <div class="register" *ngIf="isNationalCodeValid === false">
    <h1 class="register__title">Register</h1>
    <form
      class="form"
      (ngSubmit)="onSubmitRegisterForm()"
      [formGroup]="registerForm"
    >
      <div class="form__group">
        <label class="form__label">Notional Code: </label>
        <input
          [ngClass]="{ form__input_danger: !isFormValid }"
          class="form__input form__input_danger"
          formControlName="nationalCode"
          id="nationalCode"
        />
        <label *ngIf="!isFormValid" class="form__label form__label_danger"
          >Invalid Notional code</label
        >
      </div>
      <button class="register__button register__button_size_l">Register</button>
    </form>
    <p class="register__license">
      Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit.
      Sapiente, repellat incidunt minus, hic nostrum obcaecati!
    </p>
  </div>
  <div class="register" *ngIf="isNationalCodeValid === true">
    <h1>You are Registered</h1>
    <p>Please login</p>
  </div>
</div>
