.nav {
  margin: 0 2rem;
}
.nav__list {
  display: flex;
  gap: 4rem;
  list-style: none;
}
.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: #555;
}
