/* You can add global styles to this file, and also import other style files */
/*
#222831 black
#393E46 #8d95a2 gray
#00ADB5 primary
#EEEEEE white
#b50800 red
*/
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;

  margin-bottom: 15.4rem;

  color: #393e46;
  background-color: #eeeeee;
}
/* BELOW 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* BELOW 944px  */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}
/* BELOW 310px  */
@media (max-width: 19.375em) {
  html {
    font-size: 43.75%;
  }
}
