/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem 3.2rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #1abc9c;
  color: #fff;
}
@media (max-width: 31.25em) {
  html {
    font-size: 55%;
  }
}
