<div class="sidebar">
  <nav class="sidebar__menu">
    <a class="sidebar__link sidebar__link_active" href="#">Home</a>
    <a class="sidebar__link" href="#">News</a>
    <a class="sidebar__link" href="#">Contact</a>
    <a class="sidebar__link" href="#">About</a>
  </nav>
  <div class="sidebar__content">
    <h2>Sidebar</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
      obcaecati adipisci veritatis. Suscipit iure minima dolore maxime
      architecto officiis aliquid.
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste
      perspiciatis nulla at asperiores sequi facere? Perferendis vel ea natus
      minima corporis dolorem rerum dolor illum impedit. Lorem ipsum dolor, sit
      impedit.iores sequi facere? Perferendis vel ea natus minima corporis
      dolorem rerum dolor illum amet consectetur adipisicing elit. Iste
      perspiciatis nulla at asperiores sequi facere? Perferendis vel ea natus
      minima corporis dolorem rerum dolor illum impedit. Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Iste perspiciatis nulla at asperiores
      sequi facere? Perferendis vel ea natus minima corporis dolorem rerum dolor
      illum impedit. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Iste perspiciatis nulla at asperiores sequi facere? Perferendis vel ea
      natus minima corporis dolorem rerum dolor illum impedit. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Iste perspiciatis nulla at
      asperiores sequi facere? Perferendis vel ea natus minima corporis dolorem
      rerum dolor illum amet consectetur adipisicing elit. Iste perspiciatis
      nulla at asperiores sequi facere? Perferendis vel ea natus minima corporis
      dolorem rerum dolor illum impedit. Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Iste perspiciatis nulla at asperiores sequi facere?
      Perferendis vel ea natus minima corporis dolorem rerum dolor illum
      impedit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste
      perspiciatis nulla at asperiores sequi facere? Perferendis vel ea natus
      minima corporis dolorem rerum dolor illum impedit. Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Iste perspiciatis nulla at asperiores
      sequi facere? Perferendis vel ea natus minima corporis dolorem rerum dolor
      illum minima corporis dolorem rerum dolor illum impedit. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Iste perspiciatis nulla at
      asperiores sequi facere? Perferendis vel ea natus minima corporis dolorem
      rerum dolor illum impedit.
    </p>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
  </div>
</div>
