.sidebar {
  display: flex;
  gap: 2rem;
  flex-shrink: 0;
  height: 100vh;
}
.sidebar__menu {
  margin: 0;
  padding: 0;
  width: 20rem;
  background-color: #222831;
}
.sidebar__link:link,
.sidebar__link:visited {
  text-decoration: none;
  display: block;
  color: #eeeeee;
  padding: 1.6rem;
}
.sidebar__link:hover {
  background-color: #00adb5;
}
.sidebar__link_active:link,
.sidebar__link_active:visited {
  background-color: #00adb5;
}
.sidebar__content {
  padding: 4rem;
  width: calc(100vw - 25rem);
  overflow: scroll;
}

@media screen and (max-width: 700px) {
  .sidebar {
    flex-direction: column;
  }
  .sidebar__menu {
    display: flex;
    width: 100%;
    height: auto;
  }

  .sidebar__content {
    width: 100%;
    padding: 2rem;
  }
}
