.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: #1abc9c;
  display: flex;
  align-items: center;
}
.footer__btn {
  position: absolute;
  margin-left: 9rem;
  background-color: #fff;

  color: #555;
}
