<footer class="footer">
  <div class="footer__contact">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, reiciendis
    provident. Iste dignissimos nesciunt itaque delectus excepturi incidunt
    porro reprehenderit Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Eum officia aliquid repellat quo mollitia sapiente a consequatur.
  </div>
  <div class="footer__box">
    <button class="footer__button">OK</button>
    <button class="footer__button footer__button_outline">Cancell</button>
  </div>
</footer>
