.footer {
  font-size: 1.4rem;
  width: 100%;
  background-color: #00adb5;
  color: #eeeeee;
  padding: 6rem 9.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  column-gap: 5rem;
}
.footer__logo {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.footer__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer__nav {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: #eeeeee;
  transition: all 0.3s;
}
.footer__link:hover,
.footer__link:active {
  color: #8d95a2;
}
@media (max-width: 44em) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    padding: 2rem 4rem;
  }
  .footer__address {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .footer__sign {
    grid-row: 2/3;
  }
}
