<footer class="footer">
  <div class="footer__sign">
    <p class="footer__logo">Logo</p>
    <ul class="footer__social">
      <li><ion-icon class="footer__icon" name="logo-facebook"></ion-icon></li>
      <li><ion-icon class="footer__icon" name="logo-instagram"></ion-icon></li>
      <li><ion-icon class="footer__icon" name="logo-twitter"></ion-icon></li>
    </ul>
    <p class="footer__copyright">Copyright &copy; by me</p>
  </div>
  <div class="footer__address">
    <p class="footer__heading">Contact us</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>123457890</p>
    <p>example@example.com</p>
  </div>
  <nav>
    <p class="footer__heading">Company</p>
    <ul class="footer__nav">
      <li><a class="footer__link" href="">Link 1</a></li>
      <li><a class="footer__link" href="">Link 2</a></li>
      <li><a class="footer__link" href="">Link 3</a></li>
    </ul>
  </nav>
  <nav>
    <p class="footer__heading">Tools</p>
    <ul class="footer__nav">
      <li><a class="footer__link" href="">Link 1</a></li>
      <li><a class="footer__link" href="">Link 2</a></li>
      <li><a class="footer__link" href="">Link 3</a></li>
    </ul>
  </nav>
  <nav>
    <p class="footer__heading">Policy</p>
    <ul class="footer__nav">
      <li><a class="footer__link" href="">Link 1</a></li>
      <li><a class="footer__link" href="">Link 2</a></li>
      <li><a class="footer__link" href="">Link 3</a></li>
    </ul>
  </nav>
</footer>
